@media only screen and (max-width:800px){
    #topnav { display:none; }
    #mobilenav { display:block; }
    /* *************************
    Welcomeboard Modification*/
    #welcomeboard {
        font-size: 2.5em;
    }
    #section-title {
        font-size:1.5em;
    }
}
@media only screen and (max-width:600px){
    html {
        overflow-x:hidden;
    }
    #welcomeboard {
        font-size: 1.7em;
    }
}
