/* *************************
General Layout */
.primary-fade {
    opacity:0;
}
::selection {
    background: #000000; /* WebKit/Blink Browsers */
    color:#FFFFFF;
}
#container {
    position:relative;
    width:70%;
    margin:70px 15% 0 15%;
}
.margin {
    position:absolute;
    max-height:100%;
    top:250px;
}
#left-margin {
    width:108px;
    height:196px;
    right:85%;
    background-image:url(../res/sprites/leftsprite400.png);
    background-repeat:none;
    background-size:cover;
    cursor:pointer;
}
#section-title {
    font-size:2em;
}
/* *************************
Desktop Navigation */
#topnav {
    position:absolute;
    left:0;
    top:0px;
    width:100%;
    height:50px;
    padding-top:10px;
    background-color:#FFFFFF;
    z-index:100;
    text-align:center;
    text-transform:uppercase;
}
#daynight-switch {
    position:fixed;
    left:10px;
    margin:10px;
    font-size:.75em;
    text-transform:none;
}
#version {
    position:fixed;
    right:10px;
    margin:10px;
    font-size:.75em;
    text-transform:none;
    text-decoration:none;
    color:#000000;
}
#version:hover {
    text-decoration:underline;
    color:#0099FF;
    cursor:pointer;
}
.topnav-left {
    display:inline-block;
    width:150px;
    height:1.2em;
    line-height: 1.2em;
    vertical-align: middle;
    text-align:right;
    margin-right:20px;
}
#topnav-logo {
    background-image:url("../res/images/pxblogo_outline_2pt.png");
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
    vertical-align: middle;
    width:60px;
    height:60px;
}
.topnav-right {
    display:inline-block;
    width:150px;
    height:1.2em;
    line-height: 1.2em;
    vertical-align: middle;
    text-align:left;
    margin-left:20px;
}
.topnav-link {
    font-size:1.2em;
    text-decoration:none;
    color:black;
    cursor:pointer;
}
.underline {
    position:relative;
    top:-1.2em;
    width:100%;
    margin-left:0%;
    line-height:1.2em;
    height:100%;
    border-bottom-style:solid;
    border-bottom-style:#000000;
    border-bottom-width:1;
    z-index:-1;
}
#botnav {
    position:absolute;
    left:0;
    width:60%;
    height:40px;
    margin:20px 20% 0 20%;
    padding-top:10px;
    border-top:1px solid;
    text-align:center;
}
/* *************************
Mobile Navigation */
#mobilenav {
    display:none;
}
#mobilenav-bar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    background-color:white;
    z-index:101;
    box-shadow: 0 0 10px black;
}
#mobilenav-button {
    position:relative;
    top:-50px;
    left:0;
    margin:15px 15px 10px 25px;
    width:auto;
    height:20;
    background-image: url("../res/images/menu_icon.png");
    background-repeat: no-repeat;
    background-size:contain;
}
#mobilenav-logo {
    width:50px;
    height:50px;
    margin:0 auto;
    background-image: url(../res/images/pxblogo_outline_2pt.png);
    background-repeat: no-repeat;
    background-size:contain;
}
#mobilenav-menu {
    position:fixed;
    top:-60px;
    left:0;
    width:100%;
    height:70px;
    z-index:100;
    background-color:white;
    overflow:hidden;
    text-align:center;
}
.mobilemenu-item {
    display:inline-block;
    width:64px;
    height:64px;
    text-align:center;
    color:white;
}
.mobilemenu-link {
    padding-top:65%;
    width:100%;
    height:100%;
}
#mobilemenu-about {
    background-image:url("../res/sprites/about_spritesheet.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#mobilemenu-resume {
    background-image:url("../res/images/resumegif.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#mobilemenu-work {
    background-image:url("../res/images/workgif.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#mobilemenu-contact {
    background-image:url("../res/images/contactgif.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
/* *************************
Welcomeboard */
#welcomeboard {
    height:200px;
    line-height:200px;
    font-size:5em;
    text-align:center;
    cursor:default;
    user-select:none; /* Disables Text-Highlighting */
}
/* *************************
Project Grid Layout */
#project-grid {
    display:inline-flex;
    position:relative;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: center;
    min-width:100%;
    max-width:100%;
    background-color:#FFFFFF;
}
.project-block {
    opacity:0;
    flex: 0 0 auto;
    overflow:hidden;
    margin:5px;
    width:425px;
    height:250px;
    box-shadow:0px 1px 5px #000000;
}
.block-overlay {
    positon:relative;
    height:100%;
    width:100%;
    text-align:center;
    animation:blockoverlay-off;
    animation-duration:.5s;
    animation-fill-mode:forwards;
}
.block-overlay:hover {
    animation:blockoverlay-on;
    animation-duration:.5s;
    animation-fill-mode:forwards;
    cursor:pointer;
}
.block-overlay p {
    padding-top:25%;
    margin:0;
    color:#FFFFFF;
    font-size:1.7em;
}
/* *************************
Project Backgrounds */
#block1 {
    background-image:url("../res/images/work/pxbwriter.gif");
    background-repeat:no-repeat;
    background-size:cover;
}
#block2 {
    background-image:url("../res/images/work/pxb.png");
    background-repeat:no-repeat;
    background-size:cover;
}
#block3 {
    background-image:url("../res/images/work/twlfu.png");
    background-repeat:no-repeat;
    background-size:cover;
}
#block4 {
    background-color:black;
    background-image:url("");
    background-repeat:no-repeat;
    background-size:cover;
}
#block5 {
    background-color:black;
    background-image:url("");
    background-repeat:no-repeat;
    background-size:cover;
}
/* *************************
Case-Study Overlay */
#case-study {
    display:none;
    position:fixed;
    top:110px;
    bottom:70px;
    margin: 0 auto;
    width:65%;
    overflow-y:auto;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 10px #000000;
    padding:0 20px;
    z-index:100;
}
#close-study {
    display:none;
    position:fixed;
    right:17.5%;
    font-size:3em;
    z-index:99;
    background-color:#FFFFFF;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    box-shadow:0 1px 4px black;
}
#close-study:hover {
    background-color:#0099FF;
    color:#FFFFFF;
    cursor:pointer;
}
/* *************************
Case-Study Content */
#casestudy-heading {
    max-width:100%;
}
.casestudy-table {
    text-align: left;
}
.casestudy-title {
    margin-bottom:0;
}
.casestudy-paragraph {
    margin-top:0px;
    padding-left:30px;
    text-indent: 20px;
    max-width:100%;
}
.casestudy-image {
    max-width:80%;
    height:auto;
    margin:0 auto;
    padding:10px;
}
.casestudy-image img {
    margin:0 auto;
    max-width:100%;
}
/* *************************
About Styling */
#biophoto {
    float:right;
    margin-top:-10px;
    margin-right:30px;
    width:300px;
    height:300px;
    border:1px solid black;
    border-radius:50%;
    background-image:url("../res/images/about/biophoto1.jpg");
    background-repeat:no-repeat;
    background-size:contain;
}
/* *************************
Contact Styling */
#contact-div{
    text-align:center;
}
/* *************************
Social Icons */
#social-div {
    margin-top:10px;
}
.social-icon {
    display:inline-block;
    margin:0 10px;
    width:40px;
    padding-bottom:40px;
}
#linkedin {
    background-image:url("../res/images/branding/LinkedIn-Mark.png");
    background-repeat:no-repeat;
    background-size:contain;
}
#github {
    background-image:url("../res/images/branding/GitHub-Mark.png");
    background-repeat:no-repeat;
    background-size:contain;
}
#codepen {
    background-image:url("../res/images/branding/CodePen-Mark.png");
    background-repeat:no-repeat;
    background-size:contain;
}
#twitter {
    background-image:url("../res/images/branding/Twitter-Mark.png");
    background-repeat:no-repeat;
    background-size:contain;
}
/* *************************
Keyframe Animations */
@keyframes blockoverlay-on {
    from {
        background-color:rgba(0, 0, 0, .5);
    }
    to {
        background-color:rgba(255, 255, 255, .4);
    }
}
@keyframes blockoverlay-off {
    from {
        background-color:rgba(255, 255, 255, .4);
    }
    to {
        background-color:rgba(0, 0, 0, .5);
    }
}
